<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5">
  <div class="container h4">
    <a class="navbar-brand" href="/">Astro.co</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto h5">
        <li class="nav-item active">
            <a class="nav-link" href="/stars">Star Constellations</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/sun">Sunrise/Sunset</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
