html {
    position: relative;
    min-height: 100vh;
}

body {
  background: rgb(60,58,98);
  background: radial-gradient(circle, rgba(60,58,98,1) 25%, rgba(15,14,14,1) 77%);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}
