{% extends 'base.html' %}

{% block content %}
<div class="bg-img2 text-center text-light">
    {% include 'partials/navbar.html' %}
        <h1 class="" style="">Star Map
        </h1>
        <div class="row" style="padding-left: 5%">
            <div class="col-md-8">
            <iframe width="1500" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://slowe.github.io/VirtualSky/embed?&projection=lambert&constellations=true&constellationlabels=true&gridlines_az=true&live=true&az=136.75"
            allowTransparency="true">
            </iframe>
        </div>

    <div class="container" style="">
        <h3 class="my-4 text-center">Star Constellations</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card bg-dark" style="width: 15rem;">
                <img src="static/images/orion.jpg" class="card-img-top" alt="..."style="height:150px;">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Orion</a>
                        </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card bg-dark" style="width: 15rem;">
                    <img src="static/images/capricornus.png" class="card-img-top" alt="..."style="height:150px;">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Capricornus</a>
                        </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card bg-dark" style="width: 15rem;">
                    <img src="static/images/scorpius.jpg" class="card-img-top" alt="..."style="height:150px;">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Scorpius</a>
                        </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card bg-dark" style="width: 15rem;">
                    <img src="static/images/ursamajor.jpg" class="card-img-top" alt="..."style="height:150px;">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Ursa Major</a>
                        </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
