{% extends 'base.html' %}

{% block content %}
<div class="bg-img">
    {% include 'partials/navbar.html' %}
        <div class="container text-light">
            <h1 class="my-4">Page Heading
                <small>Secondary Text</small>
            </h1>
            <div class="row">
                <div class="col-md-8">
                    <img class="img-fluid" src="http://placehold.it/700x400" alt="">
                </div>
                    <div class="col-md-4">
                    <h3 class="my-3">Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                        Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                    <h3 class="my-3">Project Details</h3>
                    <ul>
                        <li>Lorem Ipsum</li>
                        <li>Dolor Sit Amet</li>
                        <li>Consectetur</li>
                        <li>Adipiscing Elit</li>
                    </ul>
                </div>
            </div>
            <h3 class="my-4">Related Projects</h3>
        <div class="row text-dark">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card" style="width: 15rem;">
                <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project One</a>
                        </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card" style="width: 15rem;">
                <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project One</a>
                        </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card" style="width: 15rem;">
                <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project One</a>
                        </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card" style="width: 15rem;">
                <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project One</a>
                        </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
