{% extends 'base.html' %}

{% block content %}
{% include 'partials/navbar.html' %}
<div class="container text-light">
    <h1 class="my-4 text-center">Search Your City</h1>
<div class="d-flex justify-content-center">
    <form action="/sun">
        <div class="searchBar">
                <input type="text"
                id="searchbar"
                class="searchBarStyle"
                name="search"
                placeholder="Search..."
                oninput="updateSearch()"
                onfocus="setCaretPositionToEnd(this)"
                autofocus
                value="{{search}}">
                <button type="submit" class="searchButton">Submit</button>
        </div>
    </form>
</div>
<h2 class="text-right">{{ city }}</h2>
    <div class="row">
        <div class="col-lg-6 mb-4 text-dark">
            <div class="card" style="width: 33rem;">
                <a href="#"><img class="card-img-top" src="static/images/sunrise.png" alt="sunrise" style="height:400px;"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <h2>Sunrise</h2>
                    </h4>
                    <h1 class="card-text">{{ sunrise }} AM</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-dark" style="width: 33rem;">
                <a href="#"><img class="card-img-top" src="static/images/sunset.png" alt="sunrise" style="height:400px;"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <h2>Sunset</h2>
                    </h4>
                    <h1 class="card-text">{{ sunset }} PM</h1>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
